<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>Qevigo</string>
	<key>CFBundleExecutable</key>
	<string>Qevigo</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>app.qevigo.mac</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>Qevigo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAccessibilityUsageDescription</key>
	<string>Qevigo 需要辅助功能权限以读取当前选中的文字并响应全局快捷键。</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要控制其他应用以执行你绑定的快捷操作。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/mohist-club/Qevigo/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>RUqeEDwr1icLVdCqvn+NuaG5zso2g//QrWqnVDMivqg=</string>
</dict>
</plist>
